<div class="maincontainer">



<div class="firstContainer">
<div class="card 123" style="width: 18rem;">
  <div class="head">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <div class="datehead">
    <label class="date1">24-11-2019</label>
  </div>
  <div class="prio">
    <label class="priority">HIGH </label>
  </div>

    <button class="btn btn-primary edit12" > Edit</button>
  </div>
</div>


<div class="card 123 below" style="width: 18rem;">
    <div class="head">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
      <div class="datehead">
      <label class="date1">24-11-2019</label>
    </div>
    <div class="prio">
      <label class="priority">HIGH </label>
    </div>

      <button class="btn btn-primary edit12" > Edit</button>
    </div>
  </div>
</div>


<div class="SecondContainer">
    <div class="card 123 cardhead" style="width: 18rem;">
        <div class="head">
        <p class="card-text">sddddddddddddddddsadaffffffffasdfSSSSSSSSSSSSSSSDDFsdfSDFASDFASDFsdfsadsdasdfsdfsadfsdf.</p>
      </div>
      <div class="card-body">
        <div class="datehead">
        <label class="date1">24-11-2019</label>
      </div>
      <div class="prio">
        <label class="priority">HIGH </label>
      </div>

        <button class="btn btn-primary edit12" > Edit</button>
      </div>
    </div>
    </div>


    <div class="ThirdContainer">
        <div class="card 123" style="width: 18rem;">
            <div class="head">
            <p class="card-text">sddddddddddddddddsadaffffffffasdfSSSSSSSSSSSSSSSDDFsdfSDFASDFASDFsdfsadsdasdfsdfsadfsdf.</p>
          </div>
          <div class="card-body">
            <div class="datehead">
            <label class="date1">24-11-2019</label>
          </div>
          <div class="prio">
            <label class="priority">HIGH </label>
          </div>

            <button class="btn btn-primary edit12" > Edit</button>
          </div>
        </div>
        </div>


        <div class="FourthContainer">
            <div class="card 123" style="width: 18rem;">
                <div class="head">
                <p class="card-text">sddddddddddddddddsadaffffffffasdfSSSSSSSSSSSSSSSDDFsdfSDFASDFASDFsdfsadsdasdfsdfsadfsdf.</p>
              </div>
              <div class="card-body">
                <div class="datehead">
                <label class="date1">24-11-2019</label>
              </div>
              <div class="prio">
                <label class="priority">HIGH </label>
              </div>

                <button class="btn btn-primary edit12" > Edit</button>
              </div>
            </div>
            </div>


            <div class="FiveContainer">
                <div class="card 123" style="width: 18rem;">
                    <div class="head">
                    <p class="card-text">sddddddddddddddddsadaffffffffasdfSSSSSSSSSSSSSSSDDFsdfSDFASDFASDFsdfsadsdasdfsdfsadfsdf.</p>
                  </div>
                  <div class="card-body">
                    <div class="datehead">
                    <label class="date1">24-11-2019</label>
                  </div>
                  <div class="prio">
                    <label class="priority">HIGH </label>
                  </div>

                    <button class="btn btn-primary edit12" > Edit</button>
                  </div>
                </div>
                </div>


                <div class="SixthContainer">
                    <div class="card 123" style="width: 18rem;">
                        <div class="head">
                        <p class="card-text">sddddddddddddddddsadaffffffffasdfSSSSSSSSSSSSSSSDDFsdfSDFASDFASDFsdfsadsdasdfsdfsadfsdf.</p>
                      </div>
                      <div class="card-body">
                        <div class="datehead">
                        <label class="date1">24-11-2019</label>
                      </div>
                      <div class="prio">
                        <label class="priority">HIGH </label>
                      </div>

                        <button class="btn btn-primary edit12" > Edit</button>
                      </div>
                    </div>
                    </div>

                  </div>
